<div class="row">
    <div class="col-md-9">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card-data">
                  <div class="card status offline">
                    <div class="card-content">
                      <div class="card-top">
                        <span class="card-title">TOTAL</span>
                        <p>0</p>
                      </div>
                      <div class="card-bottom"></div>

                    </div>
                    <div class="card-image">
                        <img src="/assets/images/sedan-car-model.svg">
                        <!-- <div class="svg-container"></div> -->
                    </div>
                  </div>
                    <div class="card status online">
                        <div class="card-content">
                          <div class="card-top">
                            <span class="card-title">ONLINE</span>
                            <p>0</p>
                          </div>
                          <div class="card-bottom"></div>

                        </div>
                        <div class="card-image">
                            <img src="/assets/images/sedan-car-model.svg">
                            <!-- <div class="svg-container"></div> -->
                        </div>
                      </div>
                      <div class="card status stopped">
                        <div class="card-content">
                          <div class="card-top">
                            <span class="card-title">STOPPED</span>
                            <p>0</p>
                          </div>
                          <div class="card-bottom"></div>

                        </div>
                        <div class="card-image">
                            <img src="/assets/images/sedan-car-model.svg">
                        </div>
                      </div>
                      <div class="card status idle">
                        <div class="card-content">
                          <div class="card-top">
                            <span class="card-title">IDLE</span>
                            <p>0</p>
                          </div>
                          <div class="card-bottom"></div>

                        </div>
                        <div class="card-image">
                            <img src="/assets/images/sedan-car-model.svg">
                        </div>
                      </div>
                      <div class="card status offline">
                        <div class="card-content">
                          <div class="card-top">
                            <span class="card-title">OFFLINE</span>
                            <p>0</p>
                          </div>
                          <div class="card-bottom"></div>
                        </div>
                        <div class="card-image">
                            <img src="/assets/images/sedan-car-model.svg">
                        </div>
                      </div>  
                
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <model-wise-device></model-wise-device>
            </div>
            <div class="col-md-6">
                <status-wise-device></status-wise-device>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <admin-transaction-history></admin-transaction-history>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row  mb-3">
            <div class="col-md-12">
                <admin-balance-details></admin-balance-details>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <admin-upcoming-payment></admin-upcoming-payment>
            </div>
        </div>
    </div>
</div>