<div class="card">
    <div class="card-body">
        <div class="device-part">
            <div class="device-header-section">
                <div class="search-filter mt-2">
                    <div class="inputGroup mb-3">
                        <input type="text" placeholder="Search" class="form-control" required="" autocomplete="off">
                    </div>
                </div>
                @if(vehicleList && vehicleList.length > 0) {
                @for(vehicle of vehicleList; track vehicle) {
                <div class="vehicle-details-part mt-2" style="cursor: pointer;" (click)="onSelectVehice(vehicle)">
                    <div class="title">
                        <div class="first-part">
                            <img class="live-img" [src]="getVehicleStatus(vehicle)" alt="">
                            <div class="vehicle-part" [class]="getVehicleColor(vehicle)">
                                {{vehicle?.Device?.VehicleNo}}
                                <br />
                                {{formatVehicleStatusDuration(vehicle)}}
                            </div>
                        </div>
                        <div class="last-part">
                            <p class="percent" [class]="getVehicleColor(vehicle)">
                                {{vehicle?.Eventdata?.Speed}} Km/h
                            </p>
                        </div>
                    </div>
                    <span class="device_address">A3000, Palam Colony Main Road, Palam, New Delhi, near Kanhiya Lal
                        Ramavtar, Delhi, 110045, India
                    </span>
                </div>
                }
                } @else {
                <div class="vehicle-details-part mt-2">
                    <div class="no-data" style="text-align: center;">
                        No Data Available
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>