.device-part {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 160px);
    .form-control{
        width: 100%;
    }

    .vehicle-details-part {
        padding: 7px;
        background-color: #fff;
        box-shadow: 0 -4px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        // max-width: 320px;
        border-radius: 20px;
        margin: 0px 1px;
      }
      
      .title {
        display: flex;
        align-items: normal !important;
        gap: 6px;
        img.live-img {
          max-width: 17px;
        }
        .first-part {
          display: flex;
          gap: 6px;
          flex-grow: 1;
      }
      }
      
      .title-text {
        margin-left: 0.5rem;
        color: #374151;
      }
      
      .percent {
        margin-left: 0.5rem;
        color: #02972f;
        font-weight: 600;
        display: flex;
      }
      .device_address {
        margin-top: 3px;
        display: block;
        font-size: 11px;
        line-height: 14px;
    }
         
}


.status-0 {
  color: rgb(25 173 0) !important;
}

.status-1-substatus-2 {
  color: #4861ED !important;
}

.status-2-substatus-3 {
  color: #FFAF1D !important;
}

.status-0-no-substatus {
  color: #696969 !important;
}

.status {
  color: balck !important;
}

