
<div class="page-header">
    <sky-breadcrumb [breadcrumbItems]="breadcrumbItems"></sky-breadcrumb>
</div>

<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Resource Group</span>
            <div class="counting">
              <span>
                  {{ totlRecords > 0 ? startValue : 0 }} -
                  {{ lastValue > totlRecords ? totlRecords : lastValue }}
                  OF {{ totlRecords > 0 ? totlRecords : 0 }} Resource Group
              </span>
          </div>
          <div class="row" >
              <div class="d-flex justify-content-center">
                  <pagination-controls id="pg1" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                      [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                  </pagination-controls>
              </div>

          </div>
        </div>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-2">
          <ngx-select-dropdown [config]="config" [options]="options" (change)="onSearchBY($event)"></ngx-select-dropdown>
        </div>
        <div class="col-md-2">
          <search-component [placeholder]="'Search Value'"  [isGlobalSearchEnabled]="false"
          [disabled]="param.searchBy ? false : true"
          [searchKey]="searchText" 
          (sendValue)="onSearcRole($event)"></search-component>
        </div>
        <div class="col-md-2">
          <ngx-select-dropdown [config]="config1" [options]="selectsearch"  (change)="onSearchSelect($event)"></ngx-select-dropdown>
      </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="onAddResource('')"><i class="fa fa-plus" aria-hidden="true"></i> Add Resource Group</button>

        </div>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                  <app-skeleton-loader *ngIf="isLoading" [columns]="columns" [items]="resourceGroupList"></app-skeleton-loader>
                    <ngx-table  [configuration]="configuration"
                    [data]="resourceGroupList
                    | paginate
                    : {
                        id: 'pg1',
                        itemsPerPage: tableItemsSize,
                        currentPage: pageIndex,
                        totalItems: totlRecords
                      } "
                    [columns]="columns" [noResultsTemplate]="noResultsTemplate"
                    *ngIf="!isLoading"
                    >
                    <ng-template let-item let-index="index">
                        <td>{{item?.ResourceGroupName}}</td>
                        <td><i class="{{item?.IconClass}}"></i></td>
                        <td>{{item?.URL }}</td>
                        
                        <td>
                            @if (item?.IsViewOnMobile == true) {
                            <span class="badge rounded-pill bg-success">Yes</span>
                            }@else {
                            <span class="badge rounded-pill bg-danger">No</span>
                            }
                        </td>
                        <td>{{item?.Description || 'NA'}}</td>
                        <td>
                            @if (item?.IsActive == true) {
                            <span class="badge rounded-pill bg-success">Active</span>
                            }@else {
                            <span class="badge rounded-pill bg-danger">Inactive</span>
                            }
                        </td>
                        <td><a class="icon"><i class="fa fa-pencil cursor:pointer" (click)="onAddResource(item)"></i>
                          <i class="fa fa-trash text-danger cursor:pointer" style="margin-left: 10px;" (click)="deleteResourceGroup(item?.pk_ResourceGroupId)"></i>
                      </a></td>
                
                    </ng-template>
                    </ngx-table>
                  </div>
                  <ng-template #noResultsTemplate>
                    <td [attr.colspan]="columns.length" class="no-results">
                      Resource Group Not Found
                    </td>
                  </ng-template>
            </div>
           
        </div>
    </div>
</div>