<div class="card">
    <div class="card-header">
        Upcoming payment
    </div>
    <div class="card-body">
        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_scroll">
                <div class="dataTables_scrollBody">
                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                        role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                            <tr role="row">
                                <th *ngFor="let vehicleHeading of columns">
                                    {{vehicleHeading?.title}}
                                </th>
                            </tr>
                        </thead>

                        <tbody>


                        </tbody>
                    </table>
                    <div class="text-center" style="width: 100%;">No Data Available</div>
                </div>

            </div>

        </div>
    </div>
</div>
