
<div class="modal-header text-center">
    <h5>Create User</h5>
    <div class="close-modal">
        <i class="fa fa-close" style="cursor: pointer;" (click)="close()"></i>
    </div>
</div>
<div class="modal-body">
    <form>
        <div class="_card white-bg">
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Company*</label>
                    <ngx-select-dropdown [config]="config" [options]="options">
                    </ngx-select-dropdown>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label">User Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter User Name"
                            aria-describedby="button-addon2" />
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Role</label>
                    <ngx-select-dropdown [config]="config" [options]="options">
                    </ngx-select-dropdown>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label">Login Id</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Login Id"
                            aria-describedby="button-addon2" />
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Mobile No</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Mobile No"
                            aria-describedby="button-addon2" />
                    </div>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter Email"
                            aria-describedby="button-addon2" />
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Password"
                            aria-describedby="button-addon2" />
                    </div>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Confirm Password"
                            aria-describedby="button-addon2" />
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-6  mb-3">
                    <label class="form-label">Manager</label>
                    <ngx-select-dropdown [config]="config" [options]="options">
                    </ngx-select-dropdown>
                </div>
                <div class="col-md-6  mb-3">
                    <label class="form-label">Timezone</label>
                    <ngx-select-dropdown [config]="config" [options]="options">
                    </ngx-select-dropdown>
                </div>              
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  mb-3">
                <label class="form-label">Status</label>
                <ngx-select-dropdown [config]="config" [options]="options">
                </ngx-select-dropdown>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit">
                        Submit
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>