<div class="main-section">
    <div class="row">
        <div class="col-md-8">
            <div class="status-part">
                <vehicle-status></vehicle-status>
            </div>
            <div class="vehicle-milage mt-4">
                <vehicle-milage-graph></vehicle-milage-graph> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reminders">
                <div class="card-header">
                    REMINDERS
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
