::ng-deep {
    input {
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #dee2e6;
    }
    
    div#pn_id_1_panel {
        padding: 10px !important;
    }
}