<div class="filter-part mb-3">
    <div class="sms-filter">
        <ngx-select-dropdown [config]="config" [options]="options">
        </ngx-select-dropdown>        
    </div>
    <div class="sms-filter">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Mobile"
                aria-describedby="button-addon2" />
        </div>
    </div>  
    <div class="sms-filter">
        <button class="btn btn-success" ><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </div>
</div>