<div class="plan mb-3">
    <div class="inner">
        <span class="pricing">
            <span>
                ₹ 49
            </span>
        </span>
        <p class="title">SkyTracker</p>
        <p class="info">Go to billing 26 Days left in this biiling period.</p>
        <ul class="features">
            <li>
                <span class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path fill="currentColor"
                            d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                    </svg>
                </span>
                <span><strong>214785908</strong> Card Limit</span>
            </li>
            <li>
                <span class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path fill="currentColor"
                            d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                    </svg>
                </span>
                <span><strong>538806 Dr </strong>Point Balance</span>
            </li>
            <li>
                <span class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path fill="currentColor"
                            d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                    </svg>
                </span>
                <span>Server IP:- <strong>XX.XX.XX.XXX</strong></span>
            </li>
        </ul>

    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="payment-part">
            <p class="info">Pay using credit or debit card.</p>
            <div class="action">
                <a class="button" href="#">
                    Pay Yore Bill
                </a>
            </div>
            <div class="payment-image">
                <div class="image-item" *ngFor="let item of paymentImage">
                    <img class="payment-image" src="{{item?.image}}" alt="Na">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="vehicle-status">
    <div class="card-box widget-user">
        <div class="text-center">
            <span>Total Companies</span>
            <h2 class="text-custom">300</h2>
        </div>
    </div>
    <div class="card-box widget-user">
        <div class="text-center">
            <span>Total Users</span>
            <h2 class="text-custom">500</h2>
        </div>
    </div>
    <div class="card-box widget-user">
        <div class="text-center">
            <span>Total SMS</span>
            <h2 class="text-custom">1</h2>
        </div>
    </div>
    <div class="card-box widget-user">
        <div class="text-center">
            <span>Total Orders</span>
            <h2 class="text-custom">0</h2>
        </div>
    </div>
</div>